div{
    background-color: rgb(236, 241, 163);
    width: 23%;
    float: left;
    border: black 2px solid;
   
}
img{
   width: 100%;
   height: 235px;
   border: tan;
   
}
h3{
    text-align: center;
    
 }
 